.gallery-filters .sort-button {
    cursor: pointer;
}

.gallery-filters .sort-button input {
    display: none;
}

.auth-popup-outer,
.auth-popup {
    z-index: 10000;
}

.events-item.gone {
    color: #fff;
    opacity: .5;
}