.gallery-filters .sort-button {
    cursor: pointer;
}

.gallery-filters .sort-button input {
    display: none;
}

.share-like-block-side .like-index:before {
    content: "+";
    font-weight: bold;
}

.share-like-block-side.liked .like-index:before {
    content: "-";
}

.auth-popup-outer,
.auth-popup {
    z-index: 10000;
}